body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-image: linear-gradient(to bottom right, orchid,turquoise, mediumorchid,aqua,blue);
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.row {
  display:flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color:lavender;
  color: black;
  font-weight: bold;
  border-style: ridge;
  border-color: orchid;
  border-width: 5px;
  border-radius: 10px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  text-align: center;
}

textarea {
  display:flex;
  flex-wrap: wrap;
  background: transparent;
  border: ridge;
  border-radius: 15px;
  resize: none;
  white-space: pre-wrap;
  text-align: center;
  border-color: black;
  padding: 10px;
  font-size: 20px;
  text-transform: capitalize;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-style: ridge;
  border-width: 5px;
  border-color: blue;
  background-color: turquoise;
  color: black;
  font-weight: bold;
}

.saveBtn:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.past {
  background-color: lightskyblue;
  color: black;
}

.present {
  background-color: orchid;
  color: black;
}

.future {
  background-color:mediumorchid;
  color:black;
}





